
body{
    background-color:white;
}

nav{
    background-color: rgb(105, 97, 156);
    min-height: 80px;
    box-shadow: 0px 0px 5px #000;
}

.navbar-brand{
    margin-left: 20px;
}

.nav-item{
    margin: 5px;
    padding: 2px 10px;
    font-size: .8em;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 10px;
}

.dropdown-item{
    font-size: .8em;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 10px;
}


.nav-item:hover{
    border: 2px solid white;
}
@media (min-width: 400px) {
    .container {
      width: 400px;
    }