body{
    background-color: #EBECF0;
}

nav{
    background-color: #7A87C2;
    min-height: 80px;
    box-shadow: 0px 0px 5px #000;
}

.navbar-brand{
    margin-left: 20px;
}

.nav-item{
    margin: 5px;
    padding: 2px 10px;
    font-size: .8em;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 10px;
}

.dropdown-item{
    font-size: .8em;
    text-transform: uppercase;
    border: 2px solid transparent;
}

.nav-item:hover{
    border: 2px solid white;
}

.modal1 {
    position: absolute;
    top: 10px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
 }
 
 .stud{
    background-color: #a8b0d7;
 }
 