body{
    background-color: #EBECF0;
}

nav{
    background-color: #7A87C2;
    min-height: 80px;
    box-shadow: 0px 0px 5px #000;
}

.navbar-brand{
    margin-left: 20px;
}

.nav-item{
    margin: 5px;
    padding: 2px 10px;
    font-size: .8em;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 10px;
}

.dropdown-item{
    font-size: .8em;
    text-transform: uppercase;
    border: 2px solid transparent;
}


.nav-item:hover{
    border: 2px solid white;
}
@media (min-width: 400px) {
    .container {
      width: 400px;
    }

#upload{
    font-size:30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height:65px;
    width:65px;
    border-radius:100px;
}

.list-group-item{
 background-color: transparent;
}