.modal-content{
background-color:#EBECF0;
}

#pagebutton, .uploadinput,textarea {
        border: 0;
        outline: 0;
        font-size: 16px;
        border-radius: 10px;
        padding: 10px;
        background-color: #EBECF0;
}
#pagebutton {
    margin-left:86%;
    color:#61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
  }

#pagebutton:hover {
    box-shadow: -2px -2px 3px #FFF, 2px 2px 3px #BABECC;
  }

#pagebutton:active {
    box-shadow: inset 2px 2px 2px #BABECC, inset -2px -2px 2px #FFF;
  }

.uploadinput,textarea {
  box-shadow:  inset 1px 1px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

.uploadinput:focus {
  box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
