{% extends 'individual/class.html'%}
{% load static %}

{% block title %} Upload Assignment {% endblock %}
{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'upload.css' %}">
{% endblock %}

{% block nav_content%}
<nav class="navbar navbar-expand-md navbar-dark sticky-top">
    <a class="navbar-brand mr-auto" href="{%url 'class_page' classname.code %}" style="margin-left: 10px;"><b>{{ classname.classes }}</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{%url 'dashboard' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Logout</a>
            </div>
        </li>
    </ul>
    </div>
</nav>
{% endblock %}

{% block content%}
<script>
    $(window).load(function(){
    $('#exampleModal').modal('show');
    });
</script>

<div class="container mt-4 pb-3 " align="center" style="width:400px;">
    <p id="title" class="h5 mt-3 mb-4 text-secondary text-center">Upload Assignment</p>
    <form method="POST" enctype="multipart/form-data" action="{%url 'upload_assignment' classname.code %}">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
            {{ field }}<br><br>
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <button id="pagebutton" type="submit">Upload</button>
    </form>
</div>

<div class="modal fade" id="exampleModal" align="center">
      <div class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-body" >
            <div class="container mt-4 mb-4"  align="center">
                <p class="p-3 h5 text-secondary text-center"> Are you sure you want to log out?</p>
                <br>
                <div class="row" >
                    <div class="col">
                        <a href="{%url 'logout' %}" role="button" class="btn btn-danger float-right">Logout</a></div>
                    <div class="col">
                        <a role="button" class="btn btn-secondary pl-3 pr-3 text-light float-left " data-dismiss="modal" aria-label="Close">No</a></div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
