<div class="modal-body" align="center">
    <p id="title" class="h5 mt-3 mb-4 text-secondary text-center">Upload Note</p>
    <form method="POST" enctype="multipart/form-data" action="{%url 'upload_note' classname.code %}">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}<br><br>
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <button id="pagebutton" type="submit">Upload</button>
    </form>
</div>