{% extends 'dashboard.html'%}
{% load static %}

{% block title %} Register {% endblock %}
{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
{% endblock %}


{% block content %}
    <div class="container mt-4 "    align="center">
    <form method="POST">
        <br>
        {% csrf_token %}
        <p id="title" class="h3 mb-4 text-secondary text-center ">Create Class</p>
        {% for field in form %}
	        	{{ field }} <br><br>
		        {% for error in field.errors %}
		          <p style="color: red">{{ error }}</p>
		        {% endfor %}
		    {% endfor %}
        <button id="pagebutton" >Create</button>
    </form><br><br>
    
    </div>

{% endblock %}

