{% extends 'index.html'%}
{% load static %}

{% block title %} Register {% endblock %}
{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
{% endblock %}

{% block nav_content%}
<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{%url 'create_class' %}">Create Class</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'join_class' %}">Join Class</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{%url 'logout' %}">Logout</a>
            </div>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
    <div class="container mt-4 "    align="center">
    
    <form class="border mt-5 border-secondary text-center p-3 bg-light" method="POST">
        {% csrf_token %}
        <p class="h4 mb-4 text-secondary text-center ">Create Class</p>
        {% for field in form %}

		    <p>
	        	{{ field.label_tag }}
                <br>
	        	{{ field }}

		        <!-- {% if field.help_text %}
		          <small style="color: grey">{{ field.help_text }}</small>
		        {% endif %} -->
		        {% for error in field.errors %}
		          <p style="color: red">{{ error }}</p>
		        {% endfor %}
		    </p>
		    {% endfor %}
        <button class="btn btn-secondary" >Create</button>
    </form><br><br>
    
    </div>

{% endblock %}

