{% extends 'dashboard.html'%}
{% load static %}

{% block title %} Join Class {% endblock %}
{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
{% endblock %}


{% block content %}
<script> $(window).load(function(){
    $('#exampleModal').modal('show');
});
    </script>
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" align="center">
  <div class="modal-dialog " role="document">
    <div class="modal-content" style="width: 25rem; height: 11rem;">
     
      <div class="modal-body" >
      
      
        
        <div class="container mt-4"  align="center">
        
        <p class="p-3 h5 text-secondary text-center"> Are you sure you wanna log out?</p>
      
  
        <div class="row" >
        <div class="col-md-6">
        <a href="{%url 'logout' %}" role="button" class="btn btn-danger btn-sm ">Logout</a></div>
        <div class="col-md-4">
        <a role="button" class="btn btn-secondary btn-sm float-right text-light " data-dismiss="modal" aria-label="Close">
        &nbsp;&nbsp;   No  &nbsp;&nbsp;    
        </a></div>
        </div>
    
     </div>
      </div>
      
    </div>
  </div>
</div>

    <div class="container mt-4 " align="center" style="width:400px;">
    <form method="POST">
        <br>
        {% csrf_token %}
        <p id="title" class="h3 mb-4 text-secondary text-center ">Join Class</p>
        <p class="h6 mb-4 text-secondary text-center">Ask your teacher for the class code, then enter it here.</p>
        <p><input type="text" placeholder="Class Code" name="code"></p>
        <div>
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                <p style="color: red">{{ message }}</p>
            </div>
            {% endfor %}
        </div>
        <button id="pagebutton" >Join</button>
    </form><br><br>

    </div>

{% endblock %}

