{% extends 'dashboard.html'%}
{% load static %}

{% block title %} Join Class {% endblock %}
{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
{% endblock %}


{% block content %}

    <div class="container mt-4 " align="center" style="width:400px;">
    <form method="POST">
        <br>
        {% csrf_token %}
        <p id="title" class="h3 mb-4 text-secondary text-center ">Join Class</p>
        <p class="h6 mb-4 text-secondary text-center">Ask your teacher for the class code, then enter it here.</p>
        <p><input type="text" placeholder="Class Code" name="code"></p>
        <div>
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                <p style="color: red">{{ message }}</p>
            </div>
            {% endfor %}
        </div>
        <button id="pagebutton" >Join</button>
    </form><br><br>

    </div>

{% endblock %}

