{% extends 'index.html'%}
{% load static %}

{% block title %} Login {% endblock %}
{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
{% endblock %}

{% block nav_content%}
<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{%url 'register_url' %}">Sign Up</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
     <div class="container mt-4"  align="center">
    <div class="col-md-4">
    <form class="border mt-5 border-secondary text-center p-3 bg-light" method="POST">
        {% csrf_token %}
        <p class="h4 mb-4 text-secondary text-center">Login</p>
        {% for field in form %}
            
		    <p>
	        	{{ field.label_tag }}
                <br>
	        	{{ field }}
                
		        <!-- {% if field.help_text %}
		          <small style="color: grey">{{ field.help_text }}</small>
		        {% endif %} -->
		        {% for error in field.errors %}
		          <p style="color: white">{{ error }}</p>
		        {% endfor %}
		    </p>
		    {% endfor %}
        <button class="btn btn-secondary">Sign in</button>
    </form>    </div> </div>
{% endblock %}