{% extends 'index.html'%}
{% load static %}

{% block title %} Login {% endblock %}
{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
{% endblock %}

{% block nav_content%}
{%  if user.is_authenticated %}
<meta http-equiv="refresh" content="0; url = {%url 'dashboard' %}" />
{% endif %}
{% endblock %}



{% block content %}
    <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
    (function(window, location) {
    history.replaceState(null, document.title, location.pathname+"#!/stealingyourhistory");
    history.pushState(null, document.title, location.pathname);

    window.addEventListener("popstate", function() {
      if(location.hash === "#!/stealingyourhistory") {
            history.replaceState(null, document.title, location.pathname);
            setTimeout(function(){
              location.replace("{%url 'home' %}");
            },0);
      }
    }, false);
    }(window, location));
    </script>
<div id="bod" class="d-flex align-items-center min-vh-100">
    <div class="container bg-white border pl-4 pr-4 pt-4"  align="center" style="border-radius:7px; width:400px;">
    <a class="h5" href="{%url 'home' %}" style="text-decoration: none;">virtual <b>CLASS</b></a>
    <form method="POST">
        {% csrf_token %}
        <p id="title" class="h5 my-3 text-secondary text-center">Login</p>

        <p><input  class="border" type="text" name="username" autofocus="" required="" id="id_username" placeholder="username"></p>

        <p><input  class="border" type="password" name="password" required="" id="id_password" placeholder="password"></p>

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
            </div>
        {% endif %}

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    <p style="color: red">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        <button  id="pagebutton" >Sign in</button>
    </form>
        <p class="text-secondary mt-4"><small>Don't have an account? <a href="{%url 'register_url' %}" ><b>Register</b></a></small></p>

    </div>
</div>
{% endblock %}