{% extends 'index.html'%}
{% load static %}

{% block title %} Login {% endblock %}
{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
{% endblock %}


{% block content %}
     <div class="container mt-4"  align="center">
	 
    <form method="POST">
        {% csrf_token %}
        <p id="title" class="h4 mb-4 text-secondary text-center">Login</p>
        {% for field in form %}
            
		    <p>
	        	{{ field.label_tag }}
                <br>
	        	{{ field }}
                
		        <!-- {% if field.help_text %}
		          <small style="color: grey">{{ field.help_text }}</small>
		        {% endif %} -->

		        {% for error in field.errors %}
		          <p style="color: red">{{ error }}</p>
		        {% endfor %}
		    </p>
		    {% endfor %}
        <button id="pagebutton" >Sign in</button>
    </form>    </div>
{% endblock %}