{% extends 'index.html'%}
{% load static %}

{% block title %} Register {% endblock %}
{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
{% endblock %}

{% block nav_content%}
{%  if user.is_authenticated %}
<meta http-equiv="refresh" content="0; url = {%url 'dashboard' %}" />
{% endif %}
{% endblock %}


{% block content %}
<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
    (function(window, location) {
    history.replaceState(null, document.title, location.pathname+"#!/stealingyourhistory");
    history.pushState(null, document.title, location.pathname);

    window.addEventListener("popstate", function() {
      if(location.hash === "#!/stealingyourhistory") {
            history.replaceState(null, document.title, location.pathname);
            setTimeout(function(){
              location.replace("{%url 'home' %}");
            },0);
      }
    }, false);
}(window, location));
    </script>
<div id="bod" class="d-flex align-items-center min-vh-100">
    <div class="container bg-white border pl-4 pr-4 pt-4 " align="center" style="border-radius:7px; width:400px;">
    <a class="h5" href="{%url 'home' %}" style="text-decoration: none;">virtual <b>CLASS</b></a>
        <form method="POST">
            {% csrf_token %}
            <p id="title" class="h5 my-3 text-secondary text-center">Sign Up</p>
            {% for field in form %}
                    {{ field }}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
                {% endfor %}
            <button id="pagebutton" >Sign up</button>
        </form>
        <p class="text-secondary mt-4"><small>Have an account? <a href="{%url 'login_url' %}" ><b>Login</b></a></small></p>
    </div>
</div>
{% endblock %}