{% extends 'index.html'%}
{% load static %}

{% block title %} Register {% endblock %}
{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
{% endblock %}



{% block content %}
<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
    (function(window, location) {
    history.replaceState(null, document.title, location.pathname+"#!/stealingyourhistory");
    history.pushState(null, document.title, location.pathname);

    window.addEventListener("popstate", function() {
      if(location.hash === "#!/stealingyourhistory") {
            history.replaceState(null, document.title, location.pathname);
            setTimeout(function(){
              location.replace("{%url 'home' %}");
            },0);
      }
    }, false);
}(window, location));
    </script>
    <div class="container mt-4 container-sm "    align="center">
    
    <form method="POST">
        {% csrf_token %}
        <p id="title" class="h4 mb-4 text-secondary text-center ">Sign up</p>
        {% for field in form %}
	        	{{ field }}
		        {% for error in field.errors %}
		          <p style="color: red">{{ error }}</p>
		        {% endfor %}
		    </p>
		    {% endfor %}
        <button id="pagebutton" >Register</button>
    </form><br><br>
    
    </div>
    
{% endblock %}