{% extends 'index.html'%}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
{% endblock %}

{% block nav_content%}
<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{%url 'logout' %}">Logout</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content%}
    <h1> Welcome, {{user.username}}</h1>
{% endblock %} 