{% extends 'dashboard.html'%}
{% load static %}

{% block title %} {{ classname.classes }} {% endblock %}
{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
{% endblock %}

{% block nav_content%}
    <a class="navbar-brand mr-auto" href="#"><b>{{ classname.classes }}</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{%url 'dashboard' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{%url 'logout' %}">Logout</a>
            </div>
        </li>
    </ul>
</div>
{% endblock %}

{% block content%}
<div class="container-fluid text-center mt-3 justify-content-center">
    <div class="row">
        <div class="column">
            <div class="container">
                <ul class="list-group text-center list-group-flush" style="width:16rem;">
                    <li class="list-group-item h6 disabled">STUDENTS</li>
                {% for student in students %}
                    <li class="list-group-item">{{student.username}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-4 align-center mt-5">
            <a href="{%url 'upload_note' classname.code %}" role="button" class="btn btn-primary">Upload Notes</a>
        </div>
        <div class="column ml-auto pr-2">
            <div class="card bg-light" style="width:12rem;">
                <div class="card-header h6">CLASS CODE</div>
                <div class="card-text mb-4 mt-1 text-secondary">{{ classname.code }}</div>
                <div class="card-header h6">TEACHER</div>
                <div class="card-text mb-4 mt-1 text-secondary">{{ classname.teacher }}</div>
                <div class="card-header h6">SUBJECT</div>
                <div class="card-text mb-4 mt-1 text-secondary">{{ classname.subject }}</div>
            </div>
        </div>
    </div>
</div>

    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>File</th>
        </tr>
        <tr>
            {% for note in notes %}
                 <td>{{note.title}}</td>
                 <td>{{note.desc}}</td>
                 <td><a href="{{note.file.url}}">{{note.file}}</a></td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}