{% extends 'dashboard.html'%}
{% load static %}

{% block title %} {{ classname.classes }} {% endblock %}
{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
{% endblock %}

{% block nav_content%}
<a class="navbar-brand" href="#"><b>{{ classname.classes }}</b></a>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{%url 'dashboard' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{%url 'logout' %}">Logout</a>
            </div>
        </li>
    </ul>
</div>
{% endblock %}



{% block content%}
<h6>Class Code: {{ classname.code }}</h6>
<ul>
    {% for student in students %}
        <li>{{student.username}}</li>
    {% endfor %}
    {% endblock %}
</ul>