{% extends 'dashboard.html'%}
{% load static %}
{% load custom_tags %}

{% block title %} {{ classname.classes }} {% endblock %}
{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'upload.css' %}">
{% endblock %}

{% block nav_content%}
<nav class="navbar navbar-expand-md navbar-dark sticky-top">
    <a class="btn" role="button" id="openSideNav" data-toggle="collapse" href="#sideNav" >&#9776;</a>
    <a class="navbar-brand mr-auto" href="{%url 'join_page' classname.code %}" style="margin-left: 10px;"><b>{{ classname.classes }}</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{%url 'dashboard' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Logout</a>
            </div>
        </li>
    </ul>
    </div>
</nav>
{% endblock %}

{% block content%}
<script> $(window).load(function(){
    $('#exampleModal').modal('show');
});</script>

<ul class="nav nav-pills" >
    <li class="nav-item"><a class="nav-link active" data-toggle="pill" href="#notes">Notes</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#assign">Assignments</a></li>
</ul>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-7 px-0 ml-auto mr-auto">
            <div class="tab-content">
                <div id="notes" class="tab-pane fade show active">
                {% if not notes %}
                    <p class="mb-4 text-secondary text-center">There are no notes</p>
                {% endif %}
                {% for note in notes %}
                        <div class="card mb-2">
                           <div class="card-header">
                                <h6 class="card-title">{{note.title}}</h6>
                               <h6 class="card-text text-muted text-right"><small>{{note.uploadingdate}}</small></h6>
                           </div>
                            <div class="card-body">
                                <h6 class="card-title">DESCRIPTION</h6>
                                <p class="card-text text-muted ml-5">{{note.desc}}</p>
                                {% if note.file %}
                                <h6 class="card-title">FILE</h6>
                                <p class="card-text ml-5"><a href="{{note.file.url}}" target="_blank">{{note.file}}</a></p>
                                {% endif %}
                           </div>
                        </div>
                {% endfor %}
                </div>

                <div id="assign" class="tab-pane fade">
                {% if not assignments %}
                    <p class="mb-4 text-secondary text-center">There are no assignments</p>
                {% endif %}
                {% for assignment in assignments %}
                        <div class="card mb-2">
                           <div class="card-header">
                                <h6 class="card-title">{{assignment.title}}</h6>
                               <h6 class="card-text text-muted text-right"><small>{{assignment.uploadingdate}}</small></h6>
                           </div>
                            <div class="card-body">
                                <h6 class="card-title">DESCRIPTION</h6>
                                <p class="card-text text-muted ml-5">{{assignment.desc}}</p>
                                {% if assignment.file %}
                                <h6 class="card-title">FILE</h6>
                               <p class="card-text ml-5"><a href="{{assignment.file.url}}" target="_blank">{{assignment.file}}</a></p>
                                {% endif %}
                                <h6 class="card-title">MAXIMUM MARKS</h6>
                                <p class="card-text text-muted ml-5">{{assignment.max_marks}}</p>
                                <h6 class="card-title">SUBMISSION DATE</h6>
                                <p class="card-text text-muted ml-5">{{assignment.last_date}}</p>
                                {% find assignment submitted_assignments as flag %}
                                {% if flag is None %}
                                    <a href="{%url 'submit_assignment' assignment.id %}" role="button" class="btn btn-success btn-sm float-right" id="assignment">Submit</a>
                                {% else %}
                                    <hr style="border-top: 3px double #8c8b8b;"/>
                                    <h6 class="card-title">FILE</h6>
                                    <p class="card-text ml-5"><a href="{{flag.submitted_file.url}}" target="_blank">{{flag.submitted_file}}</a></p>
                                    <h6 class="card-title">SUBMISSION TIME</h6>
                                    <p class="card-text text-muted ml-5">{{flag.submitted_date}}</p>
                                    <h6 class="card-title">MARKS</h6>
                                    <p class="card-text text-muted ml-5">{{flag.marks}}</p>
                                    <h6 class="card-title">REMARKS</h6>
                                    <p class="card-text text-muted ml-5">{{flag.remarks}}</p>
                                    <a href="{%url 'unsubmit_assignment' assignment.id flag.id%}" role="button" class="btn btn-danger btn-sm float-right">Unsubmit</a>
                                {% endif %}
                           </div>
                        </div>
                {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-3 px-0 mr-1 text-center">
            <div class="card ml-auto" style="width: 8rem;">
                <div class="card-header h6">CLASS CODE</div>
                <div class="card-text mb-4 mt-1 text-secondary">{{ classname.code }}</div>
                <div class="card-header border-top h6">TEACHER</div>
                <div class="card-text mb-4 mt-1 text-secondary">{{ classname.teacher }}</div>
                <div class="card-header border-top h6">SUBJECT</div>
                <div class="card-text mb-4 mt-1 text-secondary">{{ classname.subject }}</div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="exampleModal" align="center">
      <div class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-body" >
            <div class="container mt-4 mb-4"  align="center">
                <p class="p-3 h5 text-secondary text-center"> Are you sure you want to log out?</p>
                <br>
                <div class="row" >
                    <div class="col">
                        <a href="{%url 'logout' %}" role="button" class="btn btn-danger float-right">Logout</a></div>
                    <div class="col">
                        <a role="button" class="btn btn-secondary pl-3 pr-3 text-light float-left " data-dismiss="modal" aria-label="Close">No</a></div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<div id="classModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
</div>

<div class="container" >
    <div class="collapse width" id="sideNav">
        <div style="background-color: #f1f1f1; height:100vh;" align = "center">
            <br>
            <ul class="list-group list-group-flush bg-transparent list-unstyled" style="font-size:.9rem; overflow-x: auto;">
                <li class="list-group-item dropdown-toggle stud text-light" data-toggle="collapse" role="button" data-target="#demo" ><b>STUDENTS</b></li>
                <div id="demo" class="collapse">
                    {% for student in students %}
                    <li class="list-group-item" >{{student.username}}</li>
                    {% endfor %}
                </div>
                <li><a class="btn btn-info btn-sm m-2" href="{%url 'unenroll_class' classname.code %}" role="button" id="class_del">Unenroll from class</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    $('#assignment').on('click', function(e){
      e.preventDefault();
      $('#classModal').modal('show').find('.modal-content').load($(this).attr('href'));
    });

    $(document).click(function(e) {
	if ($(e.target).closest(".container").length === 0) {
    	$('.collapse').collapse('hide');
    }
    });
</script>
{% endblock %}